@{
    var homeUrl = Href("~/");
}
<div id="logo">
    <a id="goUp" href="@homeUrl" title="Renew Legal">
        <img src="@Url.Content(@"~/Themes/Chakra/Content/img/renew-logo.png")" alt="renew legal logo"/>
    </a>
</div>
