<div class="row">
    <div class="span12">
        <div class="title-page">
            <h2 class="title">@Model.Title</h2>
                    
            <div class="page-description">
                @Html.Raw(Model.ShortDescripiton)
              
            </div>

        </div>
    </div>
</div>


